*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.contenedor-general{
  display: flex;
  height: 100vh;
}

.banda:first-child{
  background-color: #00ffff;
}
.banda:nth-child(2){
  background-color: #00dddd;
}
.banda:nth-child(3){
  background-color: #00bbbb;
}
.banda:nth-child(4){
  background-color: #009999;
}
.banda:nth-child(5){
  background-color: #007777;
}

.banda{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.banda:hover{
  background-color: #000;
  color: #fff;
}

.banda:hover+.banda{
  background-color: #fff;
  color: #000;
}
